{% load customtag %}
 
 <!--footer -->

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="  ">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white" style="background-image: url('https://i.pinimg.com/originals/72/c9/38/72c938ba19bd22ccbb5d60c151414c2d.jpg');">
          <!-- Section: Social media -->
          <section class="d-flex justify-content-between p-4 text-white" style="background: linear-gradient(to right, #2431b7, #1ea5e4) ">
            <!-- Left -->
            <div class="me-5">
              <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
      
            <!-- Right -->
            <div>
              <a href="#" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
              </a>
            </div>
            <!-- Right -->
          </section>
          <!-- Section: Social media -->
      
          <!-- Section: Links  -->
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold">Accountiko</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                  <p align="justify">
      
                    Accountiko's founding principle is centered around making complex legal and taxation services more
                    accessible by providing a simplified, modern, and cost-effective approach. With the help of advanced
                    practice technology, we are able to serve our clients more efficiently than ever before
                  </p>
                </div>
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2  mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-5">Locations</h6>
                  <iframe class="map shadow " src="{{contact.0.location_url}}" width="200" height="190" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold">Popular Services</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                  
                  {% for i in usefull %}
                  <p>
                    <a href="{{i.get_absolute_url}}" class="text-white " style="text-decoration: none;">{{i.title}}</a>
                  </p>
                  {% endfor %}
                  
                </div>
                <!-- Grid column -->
      
                <!-- Grid column -->
                
                <!-- Grid column -->
      
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold">Contact</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                  <p><i class="fas fa-home mr-3"></i>{{contact.0.address}}</p>
                  <p><i class="fas fa-envelope mr-3"></i> <a class="linked" href="mailto:{{contact.0.email}}">{{contact.0.email}}</a></p>
                  <p><i class="fas fa-phone mr-3"></i><a class="linked" href="tel:{{contact.0.Mobile_number}}"> + 91 {{contact.0.Mobile_number}}</a></p>
                  {% if contact.0.Mobile_number.exist %}
                  <p><i class="fas fa-print mr-3"></i><a class="linked" href="tel:{{contact.0.alternative_number}}">  + 91 {{contact.0.alternative_number}}</a></p>
                  {% endif %}
                </div>
                <!-- Grid column -->
                
              </div>
              <!-- Grid row -->
            </div>
          </section>
          <!-- Section: Links  -->
      
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="#">Accountiko.com</a>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </div>
      <!-- End of .container -->
      
        
      