{% load static %}
{% load customtag %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountiko</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'page.css' %}" />
   
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script>
      
    </script>

</head>

<body>

    <div class="cover">
        <div class="container">
           
           
            <div class="row">
                <div class=" flex-column mt-3 ">
                    <h1 class="m-3  fw-bolder">{{pages.title}}</h1>

                    <ul class="list-group px-3 py-3 ">

                        {% for p in pages.get_title_description_list %}
                        <li class="  "> <i class="fa-regular fa-circle-check px-3"></i>{{p}}</li>
                        {% endfor %}

                       
                        
                    </ul>
                    <a href="https://wa.me/8608750899?text=I'm%20interested%20in%20this%20servies%20Limited Liability Partnership (LLP) Registrations"
                        target="_blank"><img class="request" src="" /></a>

                </div>


            </div>
        </div>

    </div>
    <div class="container d-none d-lg-block shadow-sm sticky"
        style="background-color: rgb(218, 218, 218);border-radius: 10px;margin-top: 10px;">
        <div class="sub-menu">
            <span class="sub-menu-item"><a href="#Procedure">Procedure</a> </span>
            <span class="sub-menu-item"><a href="#Definition">Definition</a> </span>
            <span class="sub-menu-item"><a href="#doc">Documents</a> </span>
            <span class="sub-menu-item"><a href="#step">Steps</a> </span>
            <span class="sub-menu-item"><a href="#eligib">Eligibility</a> </span>
            <span class="sub-menu-item"><a href="#FAQ">FAQ</a> </span>
            <span><a href="https://wa.me/8608750899?text=I'm%20interested%20in%20this%20servies%20Limited Liability Partnership (LLP) Registrations"
                    target="_blank"><img class="request2" src="assets/request.png" /></a>
            </span>

        </div>
    </div>
    <br />
    <div id="Procedure" class="container mt-5 text-center">
        <h2 class="fw-bolder">{{pages.how_to_register.title}}</h2>

        <p class="fst-italic fw-light p-3 px-5">{{pages.how_to_register.description}}</p>
    </div>

    <div class="container">
        <div class="cards flex ">

            {% for i,j in pages.how_to_register.get_card_titles_list|zips:pages.how_to_register.get_card_descriptions_list %}
            <div class="card shadow p-3 text-center">
                <span class="position-absolute top-0 start-50 translate-middle badge bg-info">
                    Within 3 Working Days
                    <span class="visually-hidden">unread messages</span>
                </span>
                <img src="assets/id-card.png" />
                <h5>{{i}}</h5>
                 <p>{{j}}</p>
                
               
            </div>
            {% endfor %}
           
            
            <div class="card shadow p-3 text-center ">
                <img class="mt-5" src="assets/smiley.png" />

            </div>
        </div>
    </div>


    <br />

    <!--definition-->
    <div class="container">
        <div id="Definition" class="container mt-5 text-center">
            <h2 class="fw-bolder">{{pages.definition.title}}</h2>

            <p class="fst-italic fw-light p-3 px-2" align="justify">{{pages.definition.definition}}</p>

        </div>
       <!--<div class="px-5">
            <h5 style="padding-left: 18px;">Choose LLP because</h5>
            <ul>
                <li>Double benefits- Company and a Partnership</li>
                <li>Limits the liabilities of its partners</li>
                <li>No partner will be liable for other partner’s misbehave</li>
                <li>Cheaper to incorporate than a private limited company</li>

            </ul>
        </div> -->

    </div>
    <br />

    <!--Document required-->
    <div class=" tbg p-5" id ="doc">
        <h2 class="fw-bolder text-center pb-3">{{pages.documents_required.title}}</h2>
        <div class="Doc-card">
            <div>
                <img src="assets/file.png" alt="document required" style="width: 400px;height: auto;">
            </div>
            <div class="pt-2">
                <ul>
                    {% for doc in pages.documents_required.get_documents_list %}
                    <li>{{doc}}</li>
                   {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <br />

    <!-- Factor-->

    <div class="container ">
        <h2 class="fw-bolder text-center">Factors to Consider While Selecting an LLP Name</h2>
        <p class="fst-italic fw-light p-3 px-5" align='justify'>The Registrar of Companies (RoC) has issued specifying
            rules for LLPs. You should meet the standards or your application may wind up getting dismissed, prompting a
            much longer procedure.</p>
        <div class="h-cards ">
            <div class="h-card shadow ">

                <h3>Meaningful</h3>
                <p align='justify'>The name of your LLP Company should be connected to your business. It must suit the
                    organization’s marking. For instance, Lilliput implies small, as “Lilliput” is a kid’s clothing
                    brand.</p>

            </div>
            <div class="h-card shadow ">
                <h3>Short & Simple</h3>
                <p align='justify'>The name of an LLP must be short and not excessively long. It must be easy to
                    pronounce by other people. And it should get inked in the minds of people when they hear it the
                    first time itself.</p>
            </div>
            <div class="h-card shadow ">
                <h3>Unique Component</h3>
                <p align='justify'>The name of your company should not either be identical or the same as a current
                    company, business, or trademark. You can go to “search.LegalRaasta.com” to confirm if your company’s
                    name is similar or identical to others. You should stay away from plural variants e.g., “Amazons” or
                    changing simply the letter Case, adding spacing, or punctuation marks in an already existing
                    company’s name.</p>
            </div>

            <div class="h-card shadow ">
                <h3>Blacklist</h3>
                <p align='justify'>Abstracts, adjectives, and generic words are denied. So a name like “XYZ” will be
                    rejected on the spot. The following words “bank, exchange, and stock exchange” will also be denied.
                </p>
            </div>
            <div class="h-card shadow ">
                <h3>No same Trademarks</h3>
                <p align='justify'>There should not be a certified trademark by the identical name on the “IP India”
                    website. If there exists one, then also your chosen company name can be approved if you are able to
                    obtain a “NOC” from its owner, which will authorize you to use the name.</p>
            </div>
            <div class="h-card shadow ">
                <h3>Suffix</h3>
                <p align='justify'>The name of your LLP Company must finish with the suffix “LLP” is an instance of a
                    limited liability partnership</p>
            </div>
            <div class="h-card shadow ">
                <h3>Descriptive Name</h3>
                <p align='justify'>The chosen name should be descriptive, meaning that the name itself should be able to
                    tell about a number of traits of the LLP</p>
            </div>
            <div class="h-card shadow ">
                <h3>Should not be illegal or offensive</h3>
                <p align='justify'>While getting an LLP name to ensure that you don’t conflict against the law. It
                    should not be abusive or against the traditions and convictions of any religion and should not harm
                    anyone’s respect.</p>
            </div>
        </div>

    </div>
    <br>
    <!--steps-->

    <div class="container" id = 'step'>
        <h2 class="fw-bolder text-center">Steps to form an LLP</h2>
        <div class="s-cards">
            <div class="s-card ">
                <h5>Step 1: Digital Signature Certificate (DSC)</h5>
                <p>Prior to beginning the procedure of enlistment, you should Register for the DSC for the assigned
                    partners of the proposed LLP. Applying for DSC is necessary because the procedure for registering an
                    LLP is done online and requires to be digitally signed.

                    In this way, the partners in an LLP must get the DSC from government-affirmed confirming offices.
                </p>
            </div>
            <div class="s-card">
                <h5>Step 2: Application of DIN (Director Identification Number) and DPIN (Designated Partner
                    Identification Number)</h5>
                <p>Subsequent to applying for DSC, the next stage is to enlist for DPIN and DIN for the proposed
                    Partners of the LLP, within a time period of 5 to 7 days. The application for the allocation of DIN
                    must be made in Form DIR-3. You need to attach a scanned copy of the Aadhaar card and PAN card to
                    the form. The form should be marked by a Company Secretary who is in full-time employment with the
                    company or by the “Managing Director, Directors, or CEO” of the existing company, in which the
                    candidate shall be designated as a director.</p>
            </div>
            <div class="s-card">
                <h5>Step 3: Name Approval and Reservation with ROC</h5>

                <p>To register a proposed LLP's name, one needs to apply for LLP-RUN, which stands for Limited Liability
                    Partnership-Reserve Unique Name. This application is processed by the Central Registration Center
                    under Non-STP. It's advisable to use the free name search feature on the "LegalRaasta" website
                    before submitting one to six proposed names to the MCA. The registrar will approve the name if it's
                    practical and doesn't match any existing partnership or LLP. The name approval process typically
                    takes 5 to 7 working days, and if the application is rejected, it can be resubmitted within 15 days.
                </p>
            </div>
            <div class="s-card">
                <h5>Step 4: MOA & AOA submission</h5>
                <p>Once the name is approved, one is required to draft, “Memorandum of association (MoA)” and “Articles
                    of Association (AoA)”. Both “MOA and AOA” are to be registered with the MCA, in the agreement
                    statement.</p>
            </div>
            <div class="s-card">
                <h5>Step 5: Get Incorporation Certificate of LLP</h5>
                <p>The form utilized for joining is FILLIP (Form for consolidation of Limited Liability Partnership)
                    which must be enrolled with the Registrar who has jurisdiction over the state in which the enrolled
                    office of the LLP is located. The form will be an incorporated structure. Joining records can be
                    introduced to the “MCA” alongside an application for Incorporation. “MCA” will endorse the
                    application for consolidation within 5 to 7 days. Incorporation certification is confirmation that
                    the organization has been formed. It likewise includes your CIN number.</p>
            </div>
            <div class="s-card">
                <h5>Step 6: Appeal for PAN, TAN and Bank account</h5>
                <p>After the completion of the above points, you are required to apply for “PAN and TAN” and you will
                    receive them in 7 working days. You can submit the Incorporation endorsement, “MOA, AOA, and PAN”
                    with the bank for opening your bank account.</p>
            </div>
            <div class="s-card">
                <h5>Step 7: Register for LLP Agreement</h5>
                <p>LLP agreement oversees the common rights and obligations between the LLP and its partners. LLP
                    agreement should be enrolled in Form 3 which is to be filed within 30 days after the date of
                    formation.</p>
            </div>
        </div>
        <br />
    </div>
    <!--Why choose -->
 

    {% if pages.extra_split_faces %}
        <div class="container">
        {% for extra in pages.extra_split_faces.all %}
        <h2 class="fw-bolder text-center">
            {{extra.title}}
        </h2>
        <p class="fst-italic fw-light p-3 px-5 text-center"> {{extra.description}}</p>
        
        <div class="Doc-card">
            <div>

                <img src="assets/why.png" alt="why " style="width: 400px;height: auto;">


            </div>
            <div>
               
                <ul>
                    {% for point in extra.get_points_list %}
                    <li>{{point}}</li>
                    {% endfor %}
                </ul>
            </div>

            </div>
            {% if extra.extras %}
            <p align='justify'>{{extra.extras}}</p>
            {% endif %}
            </div>
            {% endfor %}
    {% endif %}

    <br />

    <!-- Eligibilty-->
    <div class="container mt-2" id="eligib">
        <h2 class="fw-bolder text-center">
            {{pages.eligibility.title}}
        </h2>
        <div class=" circle-cards mt-4">
            {% for eli in pages.eligibility.get_eligibilities_list %}
            <div class="circle-card shadow ">

                <img src="/assets/file-upload.png " style="width: 100px;height: auto;" />
                <p class="p-3">Minimum 2 Partners (18 years and above age)</p>
            </div>
            {% endfor %}
           
        </div>


    </div>
    <br />

    <!-- Compliance Requirements-->

    <div class="container">
        <h2 class="fw-bolder text-center mt-3 mb-3">
            Eligibility For LLP Registration
        </h2>
        <div class="Doc-card">
            <div style="width: 500px;height: auto;margin: 30px;border-radius: 15px;" class="shadow p-3 ">
                <h5>Post-Incorporation Compliances</h5>
                <p align="justify">When a Limited Liability company enrollment is done, then the recently incorporated
                    LLP is relied upon to get done with the following compliances. These compliances are one time in
                    nature and are not repeated.</p>
                <ul>
                    <li> Partnership Agreement Filing</li>
                    <li> Apply for PAN & TAN</li>
                    <li>Open Bank Account</li>
                </ul>
            </div>
            <div style="width: 500px;height: auto;margin: 30px;border-radius: 15px;" class="shadow p-3 ">
                <h5>Annual Compliances Requirements after the LLP Registration</h5>

                <p align="justify">After the completion of the formation procedure, LLP is relied upon to comply with
                    the yearly consistent necessities.If the number of transactions after the LLP registration is zero,
                    then LLP will record NIL return.</p>
                <ul>
                    <li>Statement of Account & Solvency</li>
                    <li>LLP Annual Return</li>
                    <li>Income Tax Return</li>
                </ul>
            </div>

        </div>

    </div>
    <br />

    <!-- FAQ -->
    <div class="container " id = 'FAQ'>
        <h2 class="fw-bolder text-center mt-3 mb-5">
            {{pages.faq.title}}
        </h2>

        <div class="accordion accordion-flush FAQ" id="accordionFlushExample">
            {% for i,j in pages.faq.get_questions_list|zips:pages.faq.get_answers_list|zips:pages.faq.get_number %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#num{{j}}" aria-expanded="false" aria-controls="flush-collapseOne">
                      {{i.0}} 
                    </button>
                </h2>
                <div id="num{{j}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">{{i.1}}</div>
                </div>
             </div>
            {% endfor %}

            

            
            </div>
        </div>
    </div>


   

















    <button
        type="button"
        class="btn btn-success btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>
<script>
    //Get the button
let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/60ebc1f7d7.js" crossorigin="anonymous"></script>
</body>

</html>